/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 0;
    color: #fafafa;
    line-height: 1.231;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}

.content {
    padding-bottom: 7%;
    padding-top: 7%;
}

/**
 * Header
 */

.header {
    background: #8e44ad;
    background: url(../img/bg-intro.png);
}

h1, h2, h3 {
    line-height: 1.2;
}

.main-title {
    font-size:50px;
    min-height:70px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}

hr.white-line {
    border-bottom: white solid .5px;
    width: 17%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sub-title {
    font-size: 20px;
}

/**
 * Navigation Header
 */
.navbar {
    background-color: #ecf0f1;
    color: #95a5a6
}

.navbar-inner {
    background-color: #ecf0f1;
    width: 393px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.navbar .brand {
    display: none;
    font-weight: normal;
}

.navbar .btn-navbar:before {
    content: none;
}

.navbar .btn-navbar .icon-bar {
    display: block;
    background-color: #526476;
}

.navbar .nav > li > a {
    font-size: 19px;
    font-weight: normal;
}

@media (max-width: 480px) {
    .navbar .navbar-inner {
        width: 81%;
    }
}

@media (max-width: 979px) {
    .navbar .brand {
        display: block;
    }
}

/**
 * First section
 */
.intro {
    background: #3dd0ac;
    margin-top: -20px;
}