@import './bootstrap.min.css';

@import './bootstrap-glyphicons.css';
/**
 * Colors from Kuler:
 * https://kuler.adobe.com/create/color-wheel/?base=2&rule=Custom&selected=0&name=tree&mode=rgb&rgbvalues=0.1843137254901961,0.17254901960784313,0.24313725490196078,0.11764705882352941,0.11764705882352941,0.1607843137254902,0.20784313725490197,0.24705882352941178,0.2196078431372549,0.8352941176470589,0.8509803921568627,0.3411764705882353,0.9529411764705882,0.9372549019607843,0.9019607843137255&swatchOrder=0,1,2,3,4
 */
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 100px;
}
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
}
@font-face {
  font-family: "Jenna Sue";
  src: url(../fonts/JennaSue.ttf) format("truetype");
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #2f2c3e;
  text-align: center;
  line-height: 1.231;
}
body a,
body a:hover,
body a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}
hr {
  border: none;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
  padding: 0;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
.content {
  padding-bottom: 7%;
  padding-top: 7%;
}
.row {
  margin: 0;
}
.logo,
.logo-container {
  height: 125px;
  width: 125px;
}
/**
 * Header
 */
.header {
  background: #d5d957;
}
.header h1,
.header h2,
.header h3 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
}
.header .main-title {
  font-size: 50px;
  min-height: 70px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  color: #ffffff;
}
.header .main-title:before {
  padding-top: 3px;
  margin-top: -4px;
  position: absolute;
  overflow: hidden;
  max-width: 0;
  color: #d5d957;
  content: attr(data-hover);
  -webkit-transition: max-width 0.7s;
  transition: max-width 0.7s;
  border-top: transparent 1px solid;
  border-bottom: transparent 1px solid;
}
.header .main-title:hover {
  cursor: default;
  color: transparent;
  transition: color 2s;
}
.header .main-title:hover:before {
  max-width: 100%;
}
.header .logo-container {
  border-radius: 50%;
  position: relative;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  margin: 0 auto;
}
.header .logo-container:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 8px transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-transition: -webkit-transform 0.7s, opacity 0.2s, box-shadow 0.3s, -webkit-filter 0.7s;
  -moz-transition: -moz-transform 0.7s, opacity 0.2s, box-shadow 0.2s;
  transition: transform 0.7s, opacity 0.2s, box-shadow 0.2s, filter 0.7s;
}
.header .logo-container:hover {
  box-shadow: 0 0 0 8px #353f38;
}
.header .logo-container:hover:after {
  -webkit-transform: scale(1.11);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.11);
  box-shadow: 0 0 0 110px #f3efe6;
  opacity: 0.5;
}
/**
 * Navigation Header
 */
.navbar a {
  color: #2f2c3e;
}
.navbar .navbar-nav-centered {
  margin: 0 auto;
  width: 439px;
  float: none;
}
.navbar .navbar-brand {
  display: none;
}
.navbar .nav > li > a {
  font-size: 23px;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  background: none;
  color: #1e1e29;
}
@media (max-width: 767px) {
  .navbar .navbar-brand {
    display: block;
    color: #2f2c3e;
  }
  .navbar .navbar-nav-centered {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .navbar .nav > li > a {
    padding: 29px 20px 27px;
  }
}
/**
 * Sections
 */
section {
  background: #f3efe6;
  font-size: 30px;
  position: relative;
}
.section-title {
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 11px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.section-title:before {
  padding-top: 3px;
  margin-top: -4px;
  position: absolute;
  overflow: hidden;
  max-width: 0;
  color: #1e1e29;
  content: attr(data-hover);
  -webkit-transition: max-width 0.7s;
  transition: max-width 0.7s;
  border-top: #1e1e29 1px solid;
  border-bottom: #1e1e29 1px solid;
}
.section-title:hover {
  cursor: default;
  color: transparent;
  transition: color 2s;
}
.section-title:hover:before {
  max-width: 100%;
}
.section-title.dark:before {
  padding-top: 3px;
  margin-top: -4px;
  position: absolute;
  overflow: hidden;
  max-width: 0;
  color: #353f38;
  content: attr(data-hover);
  -webkit-transition: max-width 0.7s;
  transition: max-width 0.7s;
  border-top: #353f38 1px solid;
  border-bottom: #353f38 1px solid;
}
.section-title.dark:hover {
  cursor: default;
  color: transparent;
  transition: color 2s;
}
.section-title.dark:hover:before {
  max-width: 100%;
}
.section-title.light:before {
  padding-top: 3px;
  margin-top: -4px;
  position: absolute;
  overflow: hidden;
  max-width: 0;
  color: #f3efe6;
  content: attr(data-hover);
  -webkit-transition: max-width 0.7s;
  transition: max-width 0.7s;
  border-top: #f3efe6 1px solid;
  border-bottom: #f3efe6 1px solid;
}
.section-title.light:hover {
  cursor: default;
  color: transparent;
  transition: color 2s;
}
.section-title.light:hover:before {
  max-width: 100%;
}
/**
 * First section
 */
#intro {
  background: #f3efe6;
  margin-top: -20px;
}
#intro .hey {
  font-size: 100px;
  font-family: 'Jenna Sue';
}
#intro .intro-left {
  text-align: left;
  padding-left: 10%;
}
#intro .intro-right #picture-me {
  background: url('../img/me.jpg') 50%;
  background-size: cover;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
#intro .intro-right #picture-me:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 8px #f3efe6;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-transition: -webkit-transform 0.7s, opacity 0.2s, box-shadow 0.3s, -webkit-filter 0.7s;
  -moz-transition: -moz-transform 0.7s, opacity 0.2s, box-shadow 0.2s;
  transition: transform 0.7s, opacity 0.2s, box-shadow 0.2s, filter 0.7s;
}
#intro .intro-right #picture-me:hover {
  box-shadow: 0 0 0 8px #353f38;
}
#intro .intro-right #picture-me:hover:after {
  -webkit-transform: scale(1.11);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.11);
  box-shadow: 0 0 0 110px #353f38;
  opacity: 0.5;
}
@media (max-width: 767px) {
  #intro .intro-right #picture-me {
    width: 350px;
    height: 350px;
  }
}
#intro ul.who-am-i {
  margin: 0 auto;
  margin-top: 0;
  padding-left: 9%;
  text-align: left;
}
@media (max-width: 767px) {
  #intro ul.who-am-i {
    text-align: center;
    padding-left: 0;
  }
}
#intro ul.who-am-i li {
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid #5f5f81;
  border-radius: 5px;
  padding: 7px;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#intro ul.who-am-i li:hover {
  background-color: #d5d957;
  color: #f3efe6;
  border-color: #d5d957;
}
#intro ul.who-am-i li:hover {
  background-color: #d5d957;
  color: #f3efe6;
  border-color: #f3efe6;
}
.separator {
  position: relative;
  z-index: 2;
  height: 1px;
  background-color: #f3efe6;
}
#projects {
  color: #f3efe6;
  z-index: 2;
  background: #2f2c3e;
}
#projects #project-list {
  font-size: 17px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
}
#projects #project-list li {
  padding: 20px;
  text-align: left;
  position: relative;
}
#projects #project-list figure {
  position: relative;
  overflow: hidden;
  background: #ffffff;
}
#projects #project-list figure > div {
  text-align: center;
  font-size: 55px;
  line-height: 200px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#projects #project-list figure:hover > div,
#projects #project-list figure.cs-hover > div {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
#projects #project-list figure:hover figcaption,
#projects #project-list figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}
#projects #project-list figcaption {
  position: absolute;
  padding: 20px;
  background: #1e1e29;
  color: #d5d957;
  height: 55%;
  width: 100%;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
#projects #project-list figcaption h3 {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
#projects #project-list figcaption > div {
  max-width: 76%;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#projects #project-list figcaption a {
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  background: #787b1c;
  color: #ffffff;
  max-width: 20%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#projects #project-list #distance {
  background: #d5d957;
}
#projects #project-list #require-mind {
  background: url('../img/projects/require-mind.png') #ffffff no-repeat 50%;
  background-size: contain;
}
#projects #project-list #les-mains-vertes {
  background: url('../img/projects/les-mains-vertes.png') no-repeat 50% #363636;
  background-size: contain;
}
#projects #project-list #angular-converter {
  background: #27ae60;
}
#projects #project-list #angular-vibrator {
  background: #3e3e55;
}
#projects #project-list #ng-chat {
  background: #1abc9c;
}
#projects #project-list #windmill {
  background: #e67e22;
}
#projects #project-list #hidden-code {
  background: #0088cc;
}
#projects #project-list #sneeky {
  background: #c0392b;
}
#projects #project-list #laserize {
  background: #8e44ad;
}
#projects #project-list #sublimipsum {
  background: #95a5a6;
}
#projects #project-list #echomind {
  background: url('../img/projects/echomind.png') #9a1551 no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  #projects #project-list {
    width: 100%;
  }
}
#projects .see-github {
  margin-top: 50px;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 7px;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#projects .see-github:hover {
  background-color: #ffffff;
  color: #2f2c3e;
  border-color: #ffffff;
}
#skills {
  color: #ffffff;
  background: #d5d957;
}
#skills .skill-main-list {
  margin: 0 auto;
  width: 770px;
  margin-bottom: 42px;
  overflow: hidden;
}
#skills .skill-main-list:hover li img {
  -moz-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: grayscale(0);
}
#skills .skill-main-list li {
  float: left;
  margin-left: 24px;
  margin-bottom: 15px;
}
#skills .skill-main-list li img {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: grayscale(100%);
}
@media (min-width: 767px) {
  #skills .skill-main-list li:first-child {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  #skills .skill-main-list {
    width: 100%;
  }
}
#skills .work-information {
  margin-top: 110px;
}
#skills .work-information a.work {
  font-weight: bold;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
}
#skills .work-information a.work:hover {
  color: #2f2c3e;
}
#skills .work-information .see-resume {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 7px;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#skills .work-information .see-resume:hover {
  background-color: #2f2c3e;
  color: #ffffff;
  border-color: #2f2c3e;
}
/**
 * Footer
 */
#footer {
  color: #2f2c3e;
  background: #f3efe6;
}
#footer #social-links {
  z-index: 2;
  margin-top: 55px;
}
#footer #social-links a {
  margin-left: 5%;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
#footer #social-links a:first-child {
  margin-left: 0;
}
#footer #social-links a:hover {
  color: #d5d957;
}
#footer .logo-container {
  border-radius: 50%;
  position: relative;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#footer .logo-container:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 8px transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-transition: -webkit-transform 0.7s, opacity 0.2s, box-shadow 0.3s, -webkit-filter 0.7s;
  -moz-transition: -moz-transform 0.7s, opacity 0.2s, box-shadow 0.2s;
  transition: transform 0.7s, opacity 0.2s, box-shadow 0.2s, filter 0.7s;
}
#footer .logo-container:hover {
  box-shadow: 0 0 0 8px #353f38;
}
#footer .logo-container:hover:after {
  -webkit-transform: scale(1.11);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.11);
  box-shadow: 0 0 0 110px #353f38;
  opacity: 0.5;
}
#footer .conclusion {
  font-family: 'Jenna Sue';
  font-size: 45px;
}
