.navbar {

  a {
    color: @dark-light;
  }

  .navbar-nav-centered {
    margin: 0 auto;
    width: 439px;
    float: none;
  }

  .navbar-brand {
    display: none;
  }

  .nav > li {

    &:hover {
      background-color: @light;
      -webkit-transition: background-color .3s;
      -moz-transition: background-color .3s;
      transition: background-color .3s;
    }

    > a {
      font-size: 23px;
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: @dark;
    }
  }
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    display: block;
    color: @dark-light;
  }

  .navbar .navbar-nav-centered {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .navbar .nav > li > a {
    padding: 29px 20px 27px;
  }
}