/**
 * Colors: https://kuler.adobe.com/create/color-wheel/?base=2&rule=Custom&selected=0&name=tree&mode=rgb&rgbvalues=0.1843137254901961,0.17254901960784313,0.24313725490196078,0.11764705882352941,0.11764705882352941,0.1607843137254902,0.20784313725490197,0.24705882352941178,0.2196078431372549,0.8352941176470589,0.8509803921568627,0.3411764705882353,0.9529411764705882,0.9372549019607843,0.9019607843137255&swatchOrder=0,1,2,3,4
 */

@font-face {
    font-family: "Jenna Sue";
    src: url(../fonts/JennaSue.ttf) format("truetype");
}

html, body {
  overflow-x: hidden;
  margin: none;
  padding: none;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #fafafa;
  line-height: 1.231;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}

.content {
  padding-bottom: 7%;
  padding-top: 7%;
}

.row {
  margin: 0;
}

/**
 * Header
 */

.header {
  background: #ecf0f1;

  h1,
  h2,
  h3 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
  }

  .main-title {
    font-size: 50px;
    min-height: 70px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    position: relative;

    &:before {
      position: absolute;
      overflow: hidden;
      max-width: 0;
      color: #2ECC71;
      content: attr(data-hover);
      -webkit-transition: max-width 0.7s;
      transition: max-width 0.7s;
    }

    &:hover {
      cursor: default;
      color: transparent;
      transition: color 2s;
      &:before {
        max-width: 100%;
      }
    }
  }

  .triangle {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 35px 5px 35px;
    border-color: rgba(255, 255, 255, 0.9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    transition: border-color .7s;

    &:hover {
      border-color: rgba(44, 62, 80,1.0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      transition: border-color .3s;
    }
  }

  .logo {
    height: 125px;
  }

  hr.white-line {
    border-bottom: white solid .5px;
    width: 17%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .sub-title {
    font-size: 20px;
  }
}

/**
 * Navigation Header
 */

.navbar {

  a {
    color: #526476;
  }

  .navbar-nav-centered {
    margin: 0 auto;
    width: 439px;
    float: none;
  }

  .navbar-brand {
    display: none;
  }

  .nav > li > a {
    font-size: 23px;
  }

  .nav > li.active > a,
  .nav > li.active > a:hover,
  .nav > li.active > a:focus {
    background: none;
    color: #1abc9c;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    display: block;
    color: #526476;
  }

  .navbar .navbar-nav-centered {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .navbar .nav > li > a {
    padding: 29px 20px 27px;
  }
}

/**
 * Sections
 */

section, footer {
  background: #c0392b;
  font-size: 30px;
  position: relative;
}

.section-title {
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 11px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;

  &:before {
    padding-top: 3px;
    margin-top: -4px;
    position: absolute;
    overflow: hidden;
    max-width: 0;
    color: black;
    content: attr(data-hover);
    -webkit-transition: max-width 0.7s;
    transition: max-width 0.7s;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
  }

  &:hover {
    cursor: default;
    &:before {
      max-width: 100%;
    }
  }
}

/**
 * First section
 */

#intro {
  // background: #c0392b;
  color: #1E1E29;
  background: #F3EFE6;
  margin-top: -20px;

  .hey {
    font-size: 100px;
    font-family: 'Jenna Sue';
  }

  a {
    color: inherit;
  }

  ul.who-am-i {
    list-style: none;
  }

  .intro-left {
    text-align: left;
    padding-left: 10%;
  }

  .intro-right {
    #picture-me {
      background: url('../img/me2.jpg') 50%;
      background-size: cover;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;

      // -webkit-filter: grayscale(100%);
      // filter: gray;

      -webkit-transition: box-shadow 0.2s;
      -moz-transition: box-shadow 0.2s;
      transition: box-shadow 0.2s;

      &:after {
        top: 0;
        left: 0;
        padding: 0;
        box-shadow: 0 0 0 8px #1E1E29;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';

        -webkit-transition: -webkit-transform 0.7s, opacity 0.2s, box-shadow 0.3s, -webkit-filter 0.7s;
        -moz-transition: -moz-transform 0.7s, opacity 0.2s, box-shadow 0.2s;
        transition: transform 0.7s, opacity 0.2s, box-shadow 0.2s, filter 0.7s;
      }

      &:hover {
        box-shadow: 0 0 0 8px #1E1E29;
        // -webkit-filter: grayscale(30%);
        // filter: none;
        &:after {
          -webkit-transform: scale(1.11);
          -moz-transform: scale(1.07);
          -ms-transform: scale(1.07);
          transform: scale(1.11);
          box-shadow: 0 0 0 110px #1E1E29;
          opacity: 0.5;
        }
      }
    }
  }
}

.separator {
  position: relative;
  z-index: 2;
  height: 1px;
  background-color: #fff;
}

#projects {
  z-index: 2;
  background: #353F38;

  #project-list {
    font-size: 15px;
  }
}

#skills {
  background: #D5D957;
}

#footer {
  background: #F3EFE6;
}

/**
 * Footer
 */
footer {
  color: #F3EFE6;
}