@import './color.less';
@import './icon.less';

@font-face {
    font-family: "Jenna Sue";
    src: url(../fonts/JennaSue.ttf) format("truetype");
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #fafafa;
  line-height: 1.231;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}

.content {
  padding-bottom: 7%;
  padding-top: 7%;
}

.row {
  margin: 0;
}

.logo, .logo-container {
  height: 125px;
  width: 125px;
}

.circles(@color-outer, @color-hover, @color-outer-hover) {
  border-radius: 50%;
  position: relative;

  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;

  &:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 8px @color-outer;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';

    -webkit-transition: -webkit-transform 0.7s, opacity 0.2s, box-shadow 0.3s, -webkit-filter 0.7s;
    -moz-transition: -moz-transform 0.7s, opacity 0.2s, box-shadow 0.2s;
    transition: transform 0.7s, opacity 0.2s, box-shadow 0.2s, filter 0.7s;
  }

  &:hover {
    box-shadow: 0 0 0 8px @color-hover;
    // -webkit-filter: grayscale(30%);
    // filter: none;
    &:after {
      -webkit-transform: scale(1.11);
      -moz-transform: scale(1.07);
      -ms-transform: scale(1.07);
      transform: scale(1.11);
      box-shadow: 0 0 0 110px @color-outer-hover;
      opacity: 0.5;
    }
  }
}

.title-hover(@color, @borders-color: @color) {
  &:before {
    padding-top: 3px;
    margin-top: -4px;
    position: absolute;
    overflow: hidden;
    max-width: 0;
    color: @color;
    content: attr(data-hover);
    -webkit-transition: max-width 0.7s;
    transition: max-width 0.7s;
    border-top: @borders-color 1px solid;
    border-bottom: @borders-color 1px solid;
  }

  &:hover {
    cursor: default;
    color: transparent;
    transition: color 2s;
    &:before {
      max-width: 100%;
    }
  }
}

/**
 * Header
 */

.header {
  background: #ecf0f1;

  h1,
  h2,
  h3 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
  }

  .main-title {
    font-size: 50px;
    min-height: 70px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    position: relative;

    .title-hover(@main, transparent);
  }

  .triangle {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 35px 5px 35px;
    border-color: rgba(255, 255, 255, 0.9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    transition: border-color .7s;

    &:hover {
      border-color: rgba(44, 62, 80,1.0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      transition: border-color .3s;
    }
  }

  hr.white-line {
    border-bottom: white solid .5px;
    width: 17%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .sub-title {
    font-size: 20px;
  }

  .logo-container {
    .circles(transparent, @medium, @light);
    margin: 0 auto;
  }
}

/**
 * Navigation Header
 */

.navbar {

  a {
    color: #526476;
  }

  .navbar-nav-centered {
    margin: 0 auto;
    width: 439px;
    float: none;
  }

  .navbar-brand {
    display: none;
  }

  .nav > li > a {
    font-size: 23px;
  }

  .nav > li.active > a,
  .nav > li.active > a:hover,
  .nav > li.active > a:focus {
    background: none;
    color: #1abc9c;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    display: block;
    color: #526476;
  }

  .navbar .navbar-nav-centered {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .navbar .nav > li > a {
    padding: 29px 20px 27px;
  }
}

/**
 * Sections
 */

section, footer {
  background: #c0392b;
  font-size: 30px;
  position: relative;
}

.section-title {
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 11px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;

  .title-hover(@dark);

  &.dark {
    .title-hover(@medium);
  }
}

/**
 * First section
 */

#intro {
  // background: #c0392b;
  color: @dark;
  background: @light;
  margin-top: -20px;

  .hey {
    font-size: 100px;
    font-family: 'Jenna Sue';
  }

  a {
    color: inherit;
  }

  ul.who-am-i {
    list-style: none;
  }

  .intro-left {
    text-align: left;
    padding-left: 10%;
  }

  .intro-right {
    #picture-me {
      background: url('../img/me2.jpg') 50%;
      background-size: cover;
      width: 400px;
      height: 400px;

      .circles(@light, @medium, @medium);
    }
  }
}

.separator {
  position: relative;
  z-index: 2;
  height: 1px;
  background-color: @light;
}

#projects {
  z-index: 2;
  background: @dark-light;

  #project-list {
    font-size: 15px;
  }
}

#skills {
  background: @main;
}

/**
 * Footer
 */
#footer {
  color: @dark-light;
  background: @light;

  #social-links {
    z-index: 2;
    margin-top: 55px;

    a {
      margin-left: 5%;
    }

    a:first-child {
      margin-left: 0;
    }

    a, a:hover, a:active {
      text-decoration: none;
      outline: none;
      color: inherit;
    }

    a:hover {
      color: @main;
    }
  }

  .logo-container {
    .circles(transparent, @medium, @medium);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .conclusion {
    font-family: 'Jenna Sue';
    font-size: 45px;
  }
}