<div id="menuC">
	<ul id="menu">
		<li id="{$__LANG}_home" class="selected menu">
      <a href="{$__LANG}/home">{$__HOME}</a>
    </li>
		<li id="{$__LANG}_cv" class="menu">
      <a href="{$__LANG}/cv">{$__CV}</a>
    </li>
		<li id="{$__LANG}_infos" class="menu">
      <a href="{$__LANG}/infos">{$__INFOS}</a>
    </li>
		<!--<li id="{$__LANG}_projects" class="menu"><a href="{$__LANG}/projects">Projets</a></li>-->
		<!-- <li id="{$__LANG}_contact" class="menu"><a href="{$__LANG}/contact">{$__CONTACT}</a></li> -->
	</ul>
</div>