<div id="top">
		<div class="buttonGrey" id="download"><a href="views/documents/cv.pdf">{$__Download}</a></div>
		<div class="buttonGrey" id="print"><a href="javascript:window.print()">{$__Print}</a></div>
</div>

<div class="ribbonGreen">
	<h2>Cyril Francesconi</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />
	<div class="floatLeft">
		<ul>
			<li>{$__MeDrivingLicense}</li>
			<li>{$__MeInfos}</li>
			<li class="hidden">cyril.francesconi@gmail.com</li>
		</ul>
	</div>

<div class="ribbonGreen">
	<h2>{$__Formation}</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />

	<div class="floatLeft">
		<h3>SUPINFO, Montréal <small>2009-2013</small></h3>
		{$__YearStudies}
		<br /><br /><hr />
		<h3>Lycée Val De Seine, Rouen <small>2008-2009</small></h3>
		{$__BacDegree}
	</div>


<div class="ribbonGreen">
	<h2>{$__ComputerSkills}</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />
<ul class="ulCV">
	<li>
		<h3>{$__Development}</h3>
		<ul>
			<li>
				{$__Web} : HTML(5) / CSS(3), Javascript (jQuery, node, backbone, underscore), Canvas, PHP, ASP.net, JSON, LESS, Emmet.
			</li>
			<li>
				{$__Software} : CSharp(C#), Java, C, C++, Python, UML.
			</li>
		</ul>
	</li>
	<li>
		<h3>{$__Databases}</h3>
			MySQL, MongoDB, phpMyAdmin, Oracle PL/SQL 11g.
	</li>
	<li>
		<h3>{$__Systems}</h3>
			Linux(Ubuntu, Debian), Windows, Apple.
	</li>
	<li>
		<h3>{$__Graphics}</h3>
			Adobe Photoshop, Adobe Premiere Pro &amp; After Effect.
	</li>
	<li>
		<h3>{$__Others}</h3>
			Git, VMWare.
	</li>
</ul>
<div class="clear"></div>

<div class="ribbonGreen">
	<h2>{$__ProfessionalExperience}</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />

	<h3>42Stores, Rouen <small>{$__July} - {$__September} 2012</small></h3>
	<ul>
		<li>
			(PHP, MySQL, jQuery &amp; LESS)<br />
			{$__42Stores3_1Desc}
		</li>
	</ul>

	<br /><hr />

	<h3>42Stores, Rouen <small>{$__November} 2011 - {$__February} 2012</small></h3>
	<ul>
		<li>
			(PHP, MySQL, jQuery)<br />
			{$__42Stores2_1Desc}
		</li>
	</ul>

	<br /><hr />

	<h3>42Stores, Rouen <small>{$__July} - {$__September} 2011</small></h3>
	<ul class="ulCV">
		<li>
			(PHP, MySQL, jQuery)<br />
			{$__42Stores1_1Desc}
		</li>
		<li>
			(PHP, MySQL, jQuery)<br />
			{$__42Stores1_2Desc}
		</li>
	</ul>

	<br /><hr />

	<h3>Logsys France, Rouen <small>{$__July} - {$__Ocotber} 2010</small></h3>
	<ul class="ulCV">
		<li>
			{$__Logsys1Desc}
		</li>
		<li>
			{$__Logsys2Desc}
		</li>
		<li>
			{$__Logsys3Desc}
		</li>
	</ul>


<div class="ribbonGreen">
	<h2>{$__CVLanguages}</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />
	<ul>
		<li>
			<h3>{$__French}</h3>
			<div class="lang_details">{$__FrenchDesc}</div>
		</li>
		<li>
			<h3>{$__English}</h3>
			<div class="lang_details">{$__EnglishDesc}</div>
		</li>
		<li>
			<h3>{$__Spanish}</h3>
			<div class="lang_details">{$__SpanishDesc}</div>
		</li>
		<li>
			{$__Trips}
		</li>
	</ul>


<div class="ribbonGreen">
	<h2>{$__Hobbies}</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />
	<ul>
		<li>
			{$__Sports}
		</li>
		<li>
			{$__HobbiesDesc}
		</li>
	</ul>