<!-- begin section -->
<div class="ribbonGreen">
	<h2>Cyril Francesconi</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />

<ul id="homeList">
	<li id="homeListLiFirst"><div id="student"><img src="views/images/student.png" alt="entrepreneur"/><div>{$__ITStudent}</div></div></li>
	<li><div id="developper"><img src="views/images/developper.png" alt="entrepreneur"/><div>{$__WebDeveloper}</div></div></li>
	<li><div id="entrepreneur"><img src="views/images/entrepreneur.png" alt="entrepreneur"/><div>{$__AutoEntrepreneur}</div></div></li>
</ul>