<div class="ribbonGreen">
	<h2>Cyril Francesconi</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />

	<h3>{$__Student}</h3>

	<p>
		{$__StudentDesc}
	</p>
	<hr/>
	<br />
	<h3>{$__Developper}</h3>
	<p>
		{$__DevelopperDesc}
	</p>

<div class="ribbonGreen">
	<h2>{$__Currently}</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />
	<div>
		<p>
			{$__CurrentlyDesc}
		</p>
		<div class="floatleft">
			<h3>{$__Softwares}</h3>
			<ul>
				<li>Sublime Text 2</li>
				<li>Chrome</li>
			</ul>
		</div>
		<div class="floatleft">
			<h3>{$__Languages}</h3>
			<ul>
				<li>HTML5/CSS3</li>
				<li>Canvas</li>
				<li>JS</li>
			</ul>
		</div>
	</div>
	<br /><br />
	<div class="clear"></div>
	<h3>Supinfo</h3>
	<p>
		{$__SupinfoDesc}
	</p>

	<div class="clear"></div>

<!--<div class="ribbonGreen">
	<h2>{$__More}</h2>
</div>
<div class="triangle"></div>
<div class="clear"></div>
<br /><br />
	<h3>{$__Redactor}</h3>
	<p>
		{$__RedactorDesc}
	</p>-->