<div id="lang">
	<a href="/fr" rel="nofollow"><img src="views/images/flag-fr.png" alt="french" width="16" height="11"/></a>
	<a href="/en" rel="nofollow"><img src="views/images/flag-us.png" alt="usa" width="16" height="11"/></a>
</div>
<ul id="details">
	<li>
		<span class="titleDetails">{$__EMAIL}</span>
		<a id="mail" href="mailto:cyril.francesconi@gmail.com">cyril.francesconi@gmail.com</a>
	</li>
	<li>
		<span class="titleDetails">{$__SOCIAL}</span><br />
		<!--<a href="https://google.com/+cyrilf" title="Google +" target="_blank"><img src="views/images/gplus.png" alt="google+" width="45" height="45"/></a>-->
		<a href="https://twitter.com/cyrilf_" title="Twitter" target="_blank"><img src="views/images/twitter.png" alt="twitter" width="32" height="32"/></a>
		<a href="https://www.linkedin.com/in/cyrilfrancesconi" title="LinkedIn" target="_blank"><img src="views/images/linkedin.png" alt="linkedIn" width="32" height="32"/></a>
	</li>
</ul>