<!doctype html>
<html>
<head>
  <title>Cyril Francesconi</title>
  <link rel="stylesheet/less" type="text/css" href="views/css/vcard.less">
  <link rel="stylesheet/less" type="text/css" href="views/css/vcard_print.less" media="print">
  <script src="views/js/less.min.js" type="text/javascript"></script>
  <link rel="shortcut icon" type="image/x-icon" href="views/images/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="me">
    <h1>Cyril<br/> Francesconi</h1>
    <ul>
      <li><a href="http://cyrilf.com">cyrilf.com</a></li>
      <li><a href="gplus.to/cyrilf7">gplus.to/cyrilf7</a></li>
      <li><a href="http://twitter.com/cyrilf_">twitter.com/cyrilf_</a></li>
      <li><a href="mailto:cyril.francesconi@gmail.com">cyril.francesconi@gmail.com</a></li>
    </ul>
  </div>
</body>
</html>